<div class="board-box">
	<div class="board-column"></div>
	<div class="board-column"></div>
	<div class="board-column"></div>
	<div class="board-column"></div>
	<div class="board-column"></div>
	<div class="board-column"></div>
	<div class="board-column"></div>
</div>
