<div id="viewport" class="container">
	<div class="row">

	<div id="board" class="col-md-9"></div>
	<div id="info" class="col-md-3"></div>
	</div>

</div>
<div id="modal-container" class="modal fade"></div>
